joblib==1.3.2
numpy==1.26.2
pandas==1.5.3
pillow==9.3.0
scikit-learn==1.3.2
wfdb==4.1.2
tqdm~=4.66.2
torch>=1.10.0,<2.0
torchvision>=0.11,<0.14
torchaudio>=0.10,<=0.13 
torchio~=0.19.6
imageio~=2.34.1
matplotlib~=3.8.4
iterative_stratification==0.1.7 
scikit-image~=0.23.2
opencv-python-headless

scipy~=1.13.0
requests~=2.31.0
validators~=0.28.3
opencv-python~=4.10.0.82
imgaug~=0.4.0
pyyaml~=6.0.1